@import 'base/variables';
@import 'base/mixins';
@import 'base/placeholders';

@import 'vendors/jquery.fancybox';
@import 'vendors/flickity';

@import 'base/reset';
@import 'base/fonts';
@import 'base/icons';
@import 'base/typography';
@import 'base/grid';
@import 'base/forms';
@import 'base/buttons';
@import 'base/modals';

@import 'modules/header';
@import 'modules/head-about';
@import 'modules/about';
@import 'modules/consult';
@import 'modules/direction';
@import 'modules/courses';
@import 'modules/seminars';
@import 'modules/calendar';
@import 'modules/serts';
@import 'modules/books';
@import 'modules/footer';

@import 'pages/home';