body {
	font-family: $museo;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	color: #fff;
	background: #0b1f36;
}

a {
	color: inherit;
	text-decoration: none;
}

h1, .h1 {
	padding-bottom: 0.4em;
	font-size: 48px;
	font-weight: 200;
	line-height: (60/48);
	@include res(xl) {
		font-size: 46px;
	}
	@include res(l) {
		font-size: 38px;
	}
	@include res(m) {
		font-size: 34px;
	}
	@include res(s) {
		font-size: 30px;
	}
}

h2, .h2 {
	padding-bottom: 0.4em;
	font-size: 40px;
	font-weight: 200;
	line-height: (50/40);
	@include res(xl) {
		font-size: 38px;
	}
	@include res(l) {
		font-size: 32px;
	}
	@include res(m) {
		font-size: 30px;
	}
	@include res(s) {
		font-size: 26px;
	}
}

h3, .h3 {
	padding-bottom: 0.4em;
	font-size: 30px;
	font-weight: 200;
	line-height: (40/30);
	@include res(xl) {
		font-size: 28px;
	}
	@include res(l) {
		font-size: 24px;
	}
	@include res(s) {
		font-size: 20px;
	}
}

.user-content {
	font-family: $proxima;
	font-size: 16px;
	font-weight: 300;
	line-height: (30/16);
	@include res(s) {
		line-height: 1.6;
	}
	p {
		padding-bottom: 1.8em;
		@include res(s) {
			padding-bottom: 1em;
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
}